# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
.pnp.*

# Bundle artifact
*.jsbundle

# Expo
.expo/
web-build/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Ruby
vendor/
.bundle/

# Jest
.jest/
coverage/

# TypeScript
*.tsbuildinfo

# Visual Studio Code
.vscode/
*.code-workspace
.history/

# Temporary files
*.swp
*.swo
*.tmp
*.temp
tmp/
temp/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Crash logs
sentry-debug.log

# Watchman
.watchman-cookie-* 